:root{
    --stage-background-color: #363a66;
    --primary-text: #ffffff;
}

main{
    
    background-color:var(--stage-background-color);
    color: var(--primary-text);
    flex-direction: row;
    justify-content: space-around;
}

.stage {
    background-color:var(--stage-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    min-height: 60vh;
}

.frame{
    width: 100%;
    height: 35vw;
        min-height: 330px;
        max-height: 420px;
    overflow: hidden;
    position: relative;
    border-bottom: 6vw solid #1f1c38;
    border-bottom-width: min(6vw,70px);    
    background-color: #d5e5e3;
    background-image: url('/img/ab.svg');
    background-size: cover;
}


.frame .parallax-layer {
    filter: none;
}


/* CONTROLS */

.controls{
    position: relative;
    z-index: 4;
    padding: 50px 0;
    margin-top: 100px;
}

    .controls form{
        background-color: #2b2b2b1e;
        border: 2px solid #8282823a;
        border-radius: 8px;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        max-width: 60vw;
    }

    .controls form input{
        padding: 0.5em 1em;
        border-radius: 8px;
        border-width: 0;
        margin: .5em;
        cursor: pointer;
    }


/* PLAYER */

#player3, #svg-radio{    
    min-width: 300px;
    max-width: 600px;
    z-index: 2;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    width: 60%;
}

#svg-radio{

}

.stage+.player{
    margin-top:  min(2vh,-516px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--stage-background-color);
    min-height: 20vh;
}



.playlist{    
}


.frame-layer-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.frame .parallax-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;    
    width: 1200px;
}

/* ANIMATION FOR LAYERS */

    /* Variables */
    .frame{
        --baseSpeed: 20s;

        --speed1: calc(2 * var(--baseSpeed));
        --speed2: calc(3.5 * var(--baseSpeed));
        --speed3: calc(5 * var(--baseSpeed));
        --speed4: calc(8 * var(--baseSpeed));


    }

#layer-1 {
    animation: scroll-right var(--speed1) infinite linear;
    animation-play-state: paused;
}

#layer-2 {
    animation: scroll-right var(--speed2) infinite linear;
    animation-play-state: paused;
}

#layer-3 {
    animation: scroll-right var(--speed3) infinite linear;
    animation-play-state: paused;
}

#layer-4 {
    animation: scroll-right var(--speed4) infinite linear;
    animation-play-state: paused;
}


@keyframes scroll-right {
    from {
        left: 0px;
    }

    to {
        left: -1200px;
    }
}



#player {
    min-width: 400px;
    width: 50vw;
    max-width: 600px;
    position: absolute;
    z-index: 2;
    margin-top: 50px;
    margin-left: -5%;
    left: 0;
    /* border: 1px solid #f00; */
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;

}


.formfetch{
    margin-top: 8%;
    text-align: center;
    width: 80%;
    max-width: 620px;
}

.formfetch input, .formfetch button{
    padding: 18px;
    font-size: 1em;
    border-radius: 6px;
    border: none;
}

.formfetch button{
    padding: 18px;
    cursor: pointer;
}

.formfetch .results{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 6px;
    opacity: 0;
    margin-top: 50px;
}
.formfetch .results h3{
    font-size: 2em;
    margin: -21px 80px 0;
    padding: 0;
    background-color: #363a66;
}
.formfetch .results ul{
    margin: 50px 0;
    padding: 0;
}

.formfetch .results ul li{
    list-style: none;
    margin: 0 15px 20px;
    padding: 20px;
    text-align: left;
    background: url('../img/arrow.png') 10px center no-repeat #2d2f4644;
    background-size: 2em;
    padding-left: 4em;
    cursor: pointer;
}

.formfetch textarea{
    opacity: 0;
}

@media screen and (min-width: 730px) {
    .formfetch{
        margin-top: 18%;
    }
  }