:root {
    /* COLOR SCHEME */

    --white: #FFFFFFff;
    --sage: #AFAD94ff;
    --gray1: #8c9b99;
    --gray: #7A7E81ff;
    --satin-sheen-gold: #D5A54Bff;
    --ash-gray: #A2AB9Aff;
    --dark1: #111212;
}



body {
    background-color: var(--dark1);
    margin: 0;
    padding: 0;
}

#container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.playlist {
    height: min(3vw,110px);
    width: 100%;
    background-color: #525c5a;
    border-bottom: 1vw solid #414a49;
}

.playlist2 {
    height: 120px;
    width: 100%;
    background: rgb(140, 155, 153);
    background: linear-gradient(180deg, rgba(140, 155, 153, 1) 0%, rgba(73, 82, 81, 1) 100%);
    display: flex;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

.playlist3 {
    height: 200px;
    width: 100%;
    background: rgb(74, 81, 80) 100%;
    display: flex;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

/*  --------------- [ DEV TOOLS ] --------------------------- */


#windowInfo {
    font-family: monospace;
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: flex;
    align-items: baseline;
    color: var(--white);
    display: none;
}



/* light theme */
/* 
.mainContent main {
    width: clamp(400px, 70%, 700px);
    margin: 0 auto;
    background: #fff;
    border-radius: 6px;
    padding: 50px;
}

.mainContent h1, .mainContent h2, .mainContent h3 {
    color: #4b5453;
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    margin: 0 0 58px;
}

.mainContent h3 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
}

.mainContent p {
    color: #606060;
}

.mainContent ul li .link {
    color: #606060;
}

a.expLink {
    border: 1px solid #606060;
} */