:root {
    /* COLOR SCHEME */

    --white: #FFFFFFff;
    --sage: #AFAD94ff;
    --gray1: #8c9b99;
    --gray: #7A7E81ff;
    --satin-sheen-gold: #D5A54Bff;
    --ash-gray: #A2AB9Aff;
}



body {
    background-color: var(--gray1);
    margin: 0;
    padding: 0;
}

#container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 100;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#frame {
    width: 100%;
    height: max(30vw, 300px);
    overflow: hidden;
    position: relative;
    border-bottom: 6vw solid var(--gray);
}

#frame .parallax-layer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}


#headphones {
    animation: scroll-right 15s infinite linear;
}

#layer-1 {
    animation: scroll-right 20s infinite linear;
    filter: invert(52%) sepia(6%) saturate(230%) hue-rotate(163deg) brightness(92%) contrast(87%);
    width: 1200px;
    animation-play-state: paused;
}

#layer-2 {
    animation: scroll-right 35s infinite linear;
    filter: invert(73%) sepia(16%) saturate(319%) hue-rotate(18deg) brightness(92%) contrast(92%);
    width: 1200px;
    animation-play-state: paused;
}

#layer-3 {
    animation: scroll-right 50s infinite linear;
    filter: invert(88%) sepia(19%) saturate(194%) hue-rotate(19deg) brightness(97%) contrast(90%);
    width: 1200px;
    animation-play-state: paused;
}

#headphones {
    animation: alternate 2s infinite bouncy ease-in-out;
    animation-play-state: paused;
}

#dial-1 {
    animation: spin 4s linear infinite;
    transform-origin: 12px 11px;
    transform-box: fill-box;
}

#dial-2 {
    animation: spin 4s linear infinite;
    transform-origin: 12px 11px;
    transform-box: fill-box;
}

@keyframes shadow {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0.4;
    }
}

@keyframes scroll-right {
    from {
        right: 1200px;
    }

    to {
        right: 0px;
    }
}

@keyframes bouncy {
    from {
        transform: translateY(15px);
    }

    to {
        transform: translateY(0);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




#player {
    min-width: 400px;
    width: 50vw;
    max-width: 700px;
    position: absolute;
    z-index: 2;
    margin-top: max(80px, 11vw);
    margin-left: -5%;
    /* border: 1px solid #f00; */
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;

}

#hover-shadow {
    opacity: .15;
}

#player:hover #hover-shadow {
    animation: alternate 2s infinite shadow ease-in-out;

}

#power-btn {
    transform: translateY(-4px)
}

#audioBtn {
    display: none;
}

.playlist {
    height: 9vw;
    width: 100%;
    background-color: #606060;
    border-bottom: 1vw solid var(--gray);
}

.playlist2 {
    height: 200px;
    width: 100%;
    background: rgb(140, 155, 153);
    background: linear-gradient(180deg, rgba(140, 155, 153, 1) 0%, rgba(73, 82, 81, 1) 100%);
    display: flex;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

/*  --------------- [ DEV TOOLS ] --------------------------- */


#windowInfo {
    font-family: monospace;
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: flex;
    align-items: baseline;
    color: var(--white);
    display: none;
}



/*  --------------- [ typography ] --------------------------- */


.mainContent {
    background-color: #111212;
    padding-top: 12vw;
}

.mainContent main {
    width: clamp(300px, 60%, 700px);
    margin: 0 auto;
}

.mainContent h1, .mainContent h2, .mainContent h3  {
    color: #ffffff;
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 78px;
    margin: 0 0 58px;
}

.mainContent h2{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
}

.mainContent h3{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
}


.mainContent p {
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 16px 0;
    text-indent: 10px;
}

.info p{
    
}

.mainContent .info{
    /* border-bottom: 12px dashed #fff; */
    background-image: none, none, repeating-linear-gradient(180deg, #333333, #333333 30px, transparent 30px, transparent 44px, #333333 44px), repeating-linear-gradient(270deg, #AAAAAA, #AAAAAA 30px, transparent 30px, transparent 44px, #AAAAAA 44px);
    background-size: 0, 0px, 0 , 100% 2px;
    background-position: 0, 0, 0, 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-bottom: 80px;
}


.mainContent a {
    color: #fe921f;
    text-decoration: underline;
}


.mainContent a:hover {
    color: #ffffff
}


.mainContent .date {
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 30px -10px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
}

.mainContent ul{
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
}

.mainContent ul li{
    list-style: none;
    margin: 0 0 150px 0;
    padding: 0 0 0 0;
}

.mainContent .screenshot{
    margin: 10px 0;
    border-radius: 6px;
}

.mainContent ul li a{
    color: inherit;
    text-decoration: none;
}

.mainContent ul li .link{
    margin: 30px 0;
    font-family: 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

a.expLink{
    border: 1px solid #fff;
    padding: 14px 14px;
    /* text-transform: uppercase; */
    transition: color 2s, border-color 2s, border-radius 2s;
    line-height: 16px;
    font-family: monospace;
    letter-spacing: 1px;
}

a.expLink:hover{
    border-color:#fe921f;
    color: #fe921f;
    border-radius: 4px;
}

.mainContent ul li .link .url{
    color: #fff;
    margin-left: 20px;
}

p.footer{
    margin-bottom: 50px;
    text-align: center;
    opacity: .5;
}

.home-page{
    min-width: 600px;
}